body {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.navbar-brand {
  margin: 0 0 0 250px;
}

.navbar-nav {
  margin: 0 0 0 190px;
}

.nav-link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 8px 0 8px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.bg-dark {
  background-color: #000000 !important;
}

.image {
  background: url(../images/bg-img-01.png) no-repeat;
  height: 100vh;
  background-size: cover;
}

.text-1, .text-2 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 5em;
  font-weight: 700;
  line-height: 69px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 340px 0 0 0;
}

.text-2 {
  color: #b88b58;
  padding: 0;
}

.phone {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 30px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 0 0 0;
}

.btn-primary {
  background-color: #b88b58;
  border-color: #b88b58;
  width: 194px;
  height: 48px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.butto {
  display: flex;
  justify-content: center;
  padding: 40px 0 0 0;
  color: #ffffff;
}

.btn-group-lg > .btn, .btn-lg {
  border-radius: 40px;
}

.circle {
  background-color: transparent;
  border: 2px solid #b88b58;
  width: 15px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  transition: .5s;
  margin: 5px;
}

.circle:hover {
  background: #b88b58;
}

.circle-container, .circle-container-1 {
  display: flex;
  justify-content: center;
  margin: 200px 0 0 0;
}

.marg {
  margin: 50px 0 0 0;
  text-align: center;
}

.title-1 {
  text-align: center;
  color: #000000;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
  text-transform: uppercase;
}

.title-2 {
  color: #aeaeae;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 25px;
}

.text-3 {
  color: #000000;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
}

.butto-1 {
  padding: 20px 0 0 0;
}

.bg-1 {
  background: #000000;
  padding: 40px 0 0 0;
  text-align: center;
}

.marg-1 {
  padding: 0 0 55px 0;
}

.title-3 {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 800;
  line-height: 30px;
  text-transform: uppercase;
}

.title-4 {
  color: #aeaeae;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 800;
  line-height: 30px;
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.tit-1 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  padding: 10px 0 0 0;
  margin: 0;
}

.bord {
  border-left: 1px solid #bebebe;
}

.bord-1 {
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
}

.padd-1 {
  padding: 0 0 60px 0;
}

.pagination-lg .page-link {
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
}

.pagination-lg {
  justify-content: center;
}

.page-link {
  background-color: #fff;
  border: 1px solid #aeaeae;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.4);
  -webkit-filter: brightness(0.4);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.padd {
  padding: 0 0 20px 0;
}

.butto-2 {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.image-1 {
  background: url(../images/bg-image.png) no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.mid {
  text-align: center;
  padding-top: 80px;
}

.worker {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 4px;
  margin: 0 0 0 20px;
}

.team {
  margin: 0;
  color: #242424;
  text-transform: uppercase;
  font-size: 1.3em;
}

.text-4 {
  margin: 20px auto 35px;
  font-size: 1em;
  color: #242424;
}

.social {
  margin: 0;
  padding: 0 0 20px 0;
}

.social ul {
  margin: 0;
  padding: 5px;
}

.social ul li {
  margin: 0px;
  list-style: none outside none;
  display: inline-block;
}

.social i {
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #909AA0;
  font-size: 22px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.social i:hover {
  color: #FFF;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
  background: #4060A5;
}

.social .fa-twitter:hover {
  background: #00ABE3;
}

.social .fa-google-plus:hover {
  background: #e64522;
}

.social .fa-github:hover {
  background: #343434;
}

.social .fa-pinterest:hover {
  background: #cb2027;
}

.social .fa-linkedin:hover {
  background: #0094BC;
}

.social .fa-flickr:hover {
  background: #FF57AE;
}

.social .fa-instagram:hover {
  background: #375989;
}

.social .fa-vimeo-square:hover {
  background: #83DAEB;
}

.social .fa-stack-overflow:hover {
  background: #FEA501;
}

.social .fa-dropbox:hover {
  background: #017FE5;
}

.social .fa-tumblr:hover {
  background: #3a5876;
}

.social .fa-dribbble:hover {
  background: #F46899;
}

.social .fa-skype:hover {
  background: #00C6FF;
}

.social .fa-stack-exchange:hover {
  background: #4D86C9;
}

.social .fa-youtube:hover {
  background: #FF1F25;
}

.social .fa-xing:hover {
  background: #005C5E;
}

.social .fa-rss:hover {
  background: #e88845;
}

.social .fa-foursquare:hover {
  background: #09B9E0;
}

.social .fa-youtube-play:hover {
  background: #DF192A;
}

.space {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.img-p {
  padding: 40px;
}

.bg-2 {
  background: #F7F7F7;
  padding: 60px 0 30px 0;
}

.obj-con {
  text-align: center;
  padding: 20px 0 0 0;
}

.title-5 {
  color: #000000;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  padding: 30px 0 0 0;
}

.text-5 {
  color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.spac {
  padding: 30px 0 0 0;
}

.text-6 {
  font-size: 1em;
  line-height: 25px;
  margin: 0;
  color: #242424;
  padding: 20px 0 0 0;
}

.circle-container-1 {
  margin: 50px 0 0 0;
}

.flex-container {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.logo {
  padding: 50px 0 50px 0;
}

.spc {
  padding: 0 10px 0 10px;
}

.well {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 4px;
  margin: 0 0 0 20px;
  padding: 40px;
}

.title-pri {
  color: #242424;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
}

.title-pri-1 {
  color: #242424;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.para-pri {
  color: #aeaeae;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
}

.para-pri-1 {
  color: #7e7e7e;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
}

.btn-primary-1 {
  background-color: #373737;
  border-color: #373737;
  width: 129px;
  height: 48px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
}

.btn-primary-1:hover {
  background-color: #b88b58;
  border-color: #b88b58;
}
.marg-2{
  margin: 60px 0 50px 0;
}
.prem-tit{
  color: #242424;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;;
}
.prem-para{
  color: #5b5b5b;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
}
.prem{
  position: absolute;
  top: 0px;
  left: -60px;
}
.cont-premium{
  margin: 0 0 0 100px;
}
.hr-cl{
  background-color: #bebebe;
}
.circle-container-2{
  display: flex;
  justify-content: center;
  margin: 40px 0 0 0;
}
.butto-3{
  display: flex;
  justify-content: center;
  padding: 40px 0 0 0;
  color: #ffffff;
  margin-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */
